body{
	font-family: Arial;
	background: #ccc;
	width: 80%
	margin:30px;
}
header {
	background-color: #05434d  ;
	padding: 20px;


}
header ul {
	list-style: none;
}
main {
	background-color: #FFF;
	padding: 40px;

}
header ul a {
	color: #fff;
	text-decoration: none;
	padding: 20px;
}
header ul a:hover {
	background-color: #11de93;

}

footer {
	background-color: #05434d;
	color: #fff;
	padding: 10px;
}
p {
	font-family: arial black;
	background-color: #FFF;
}
